#video {
  width: 100%;
}

#more {
  cursor: pointer;
}

#moreContents {
  display: none;
}

.text-input {
  position: relative;
  margin-top: 50px;
}

.text-input input[type="text"] {
  display: inline-block;
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  text-transform: none;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 10px 10px 160px;
  transition: all 0.1s ease-out;
}

.text-input input[type="text"] + label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 3px 0 0 3px;
  padding: 0 20px;
  background: #8b220e;
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
}

.text-input input[type="text"]:focus + label {
  -webkit-transform: translateY(-120%) translateX(0%);
  transform: translateY(-120%) translateX(0%);
  border-radius: 3px;
  transition: all 0.1s ease-out;
}

.text-input input[type="text"]:focus {
  padding: 10px;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
}

.dark-mode {
  background: #000 !important;
  background-color: black !important;
  color: white !important;
}

.dark-mode * {
  color: white !important;
  background: black !important;
}

.checkboxes {
  margin-top: 15px;
}